<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/style.css" rel="stylesheet">
    <title>Specialists</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>







<div class="frameform">
    <form method="post" enctype="multipart/form-data" action="http://localhost:8080/addspecialist">
        <div class="container">

            <input type="text" maxlength="20" pattern="[а-яА-Яa-zA-Z]{2,10}[ -]{0,1}[а-яА-Яa-zA-Z]{0,10}"
                   placeholder="имя" name="name" required oninvalid="this.setCustomValidity('incorrect enter!')"
                   oninput="setCustomValidity('')">
            <input type="text" maxlength="20" pattern="[а-яА-Яa-zA-Z]{2,10}[ -]{0,1}[а-яА-Яa-zA-Z]{0,10}"
                   placeholder="фамилия" name="surename" required oninvalid="this.setCustomValidity('incorrect enter!')"
                   oninput="setCustomValidity('')">


                <input type="file" name="file">

            <button type="submit" id="log">ДОБАВИТЬ СПЕЦИАЛИСТА</button>
        </div>
    </form>
</div>




</body>
</html>